<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let clients"> {{ clients.nome }} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let clients"> {{ clients.email }} </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> Celular </th>
    <td mat-cell *matCellDef="let clients"> {{ formatPhone(clients.telefone) }} </td>
  </ng-container>

  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let clients"> {{clients.endereco }} </td>
  </ng-container>

  <ng-container matColumnDef="dataNasc">
    <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
    <td mat-cell *matCellDef="let clients"> {{ clients.dataNasc }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let clients">
      <button mat-mini-fab extended matTooltip="Excluir" class="delete-button" (click)="delete(clients)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab extended matTooltip="Atualizar" class="update-button" (click)="update(clients)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
