<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">
  <div class="row">
    <div class="col-12">
      <mat-form-field class="fil-col">
        <mat-label>Nome</mat-label>
        <input matInput name="name" id="name" #nameModel="ngModel" [(ngModel)]="clients.nome" required>
        <mat-error *ngIf="nameModel.errors?.['required']">Informe o nome do cliente</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="col-6">
    <mat-form-field class="fil-col">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" id="email" #emailModel="ngModel" [(ngModel)]="clients.email" required email>
      <mat-error *ngIf="emailModel.errors?.['required'] || emailModel.errors?.['email']">
        Informe o email do cliente
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field class="fil-col">
      <mat-label>Telefone</mat-label>
      <input matInput name="phone" id="phone" #phoneModel="ngModel" [(ngModel)]="clients.telefone" required mask="(00) 00000-0000">
      <mat-error *ngIf="phoneModel.errors?.['required']">Informe um telefone válido</mat-error>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field class="fil-col">
      <mat-label>Endereço</mat-label>
      <input matInput name="endereco" id="endereco" #enderecoModel="ngModel" [(ngModel)]="clients.endereco" required>
      <mat-error *ngIf="enderecoModel.errors?.['required']">Informe o endereço do cliente</mat-error>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field class="fil-col">
      <mat-label>Data Nascimento</mat-label>
      <input matInput name="dataNasc" id="dataNasc" #dataNascModel="ngModel" [(ngModel)]="clients.dataNasc" required mask="00/00/0000">
      <mat-error *ngIf="dataNascModel.errors?.['required']">Informe a data de nascimento do cliente</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col div-button">
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Salvar</button>
    </div>
  </div>
</form>
